@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.img-left {
  margin-right: 10px;
  float: left; }

.img-right {
  margin-left: 10px;
  float: right; }

.img-full {
  width: 100%;
  height: auto;
  margin: 15px 0; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.head__info {
  font-size: 16px;
  font-size: 1rem;
  color: #464a4d;
  border-bottom: 1px solid #e8e9eb;
  padding: 15px 0; }
  .head__info strong {
    font-weight: bolder; }
  .head__info form {
    position: relative;
    width: 300px;
    height: 44px;
    margin-right: 5px;
    float: left; }
    @media (max-width: 1024px) {
      .head__info form {
        width: 70%;
        margin: 15px 15% 15px 15%; } }
    .head__info form input[type="search"] {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: lighter;
      border-radius: 25px;
      border: 1px solid #ededef; }
    .head__info form input[type="submit"] {
      position: absolute;
      top: 0;
      right: 10px;
      width: 19px;
      height: 100%;
      color: transparent;
      border: none;
      background: none;
      background: url("../img/icn-head-search.png") 50% 50% no-repeat; }
  .head__info .dropdown-pane {
    width: 100px;
    border-top: none;
    z-index: 20; }

.head__contact p {
  margin: 0;
  padding: 0;
  margin-top: 7px; }
@media (max-width: 641px) {
  .head__contact a {
    display: inline-block;
    width: 100%; } }
.head__contact a:first-child:before {
  display: inline-block;
  content: "";
  width: 31px;
  height: 31px;
  background: url("../img/icn-head-phone.png") no-repeat;
  vertical-align: middle;
  margin: 0 5px; }
.head__contact a:last-child:before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background: url("../img/icn-head-mail.png") no-repeat;
  vertical-align: middle;
  margin: 0 5px; }
@media (max-width: 1024px) {
  .head__contact {
    text-align: center; } }

.head__events {
  border-left: 1px solid #e8e9eb; }
  @media (max-width: 1024px) {
    .head__events {
      text-align: center; } }
  .head__events span {
    display: inline-block;
    width: 75px;
    text-align: center;
    border-right: 1px solid #e8e9eb; }
    @media (max-width: 1024px) {
      .head__events span {
        border: none; } }
  .head__events span:last-child {
    border-left: none;
    border-right: none; }
  .head__events img {
    margin-top: 7px; }
  .head__events .lang-arrow {
    position: relative;
    left: 5px; }

#sticky-head {
  background: #fff; }
  @media (max-width: 1024px) {
    #sticky-head {
      position: static; } }
  @media (min-width: 1025px) {
    #sticky-head {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      z-index: 15;
      transition: 200ms; } }

.head {
  padding: 40px 0 0 0; }
  @media (max-width: 1024px) {
    .head {
      text-align: center; }
      .head div:first-child {
        margin: 10px 0; } }

.title-bar {
  color: #fff;
  background: #006637; }

.head__btn {
  display: inline-block;
  width: 150px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #172430;
  border-radius: 4px;
  border: 1px solid #172430;
  transition: 300ms;
  float: left; }
  .head__btn:hover {
    text-decoration: underline;
    border: 1px solid #006033; }

.head__menu {
  width: auto;
  height: 80px;
  margin: 0;
  padding: 0; }
  @media (min-width: 1380px) {
    .head__menu {
      float: right; } }
  @media (max-width: 1024px) {
    .head__menu {
      height: auto; } }
  .head__menu li {
    display: inline-block;
    height: 100%;
    float: left; }
    .head__menu li .active {
      font-weight: bold;
      color: #006637; }
    @media (max-width: 1024px) {
      .head__menu li {
        height: auto; } }
  .head__menu li:last-child {
    position: relative;
    bottom: 5px;
    display: inline;
    height: 50px;
    padding: 5px 0; }
    .head__menu li:last-child a {
      border: 1px solid #172430; }
    @media (max-width: 1024px) {
      .head__menu li:last-child {
        display: none; } }
    .head__menu li:last-child a {
      position: relative;
      display: inline; }
  .head__menu .active {
    border-bottom: 1px solid #de180c; }
  .head__menu a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid transparent; }
    @media (max-width: 1024px) {
      .head__menu a {
        width: auto;
        height: auto; } }
    @media (min-width: 1024px) {
      .head__menu a:hover {
        border-bottom: 1px solid #da1b0d; }
        .head__menu a:hover:after {
          position: absolute;
          left: 35%;
          bottom: -11px;
          display: inline-block;
          content: "";
          width: 19px;
          height: 11px;
          background: url("../img/menu-hover.png") no-repeat; } }

@media (max-width: 600px) {
  .menu.vertical > li {
    width: 100%; } }

.hp h2 {
  font-family: 'Open-sans', sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  color: #172430;
  background: url("../img/h2-bg.png") 50% 100% no-repeat;
  margin: 55px 0;
  padding-bottom: 15px; }
.hp h2 > span {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: lighter;
  color: #61717f;
  text-align: center; }

.hp__slider__banner {
  position: relative;
  width: 100%;
  min-height: 550px;
  background: #006033 url("../user-files/img/hp-slider-banner.jpg") no-repeat;
  background-size: cover;
  margin-top: 120px;
  /*@media (max-width: 800px) {
  	display: none;
  }*/ }
  @media (max-width: 1024px) {
    .hp__slider__banner {
      min-height: 0;
      height: 450px;
      margin-top: 0; } }
  @media (max-width: 500px) {
    .hp__slider__banner {
      min-height: 700px; } }

.hp__slider__wrapper {
  position: relative;
  width: 100%;
  max-width: 1615px;
  margin: auto; }

.hp__slider {
  position: relative; }
  .hp__slider img {
    float: right;
    width: auto;
    height: 450px;
    margin-right: 50px;
    padding-top: 45px;
    margin-bottom: 100px; }
    @media (max-width: 1380px) {
      .hp__slider img {
        width: 50%; } }
    @media (max-width: 800px) {
      .hp__slider img {
        display: none; } }
  .hp__slider h2 {
    width: 55%;
    font-size: 60px;
    font-size: 3.750rem;
    color: #fff;
    font-weight: lighter;
    text-align: left;
    background: transparent url("../img/hp-slider-title-bg.png") 230px 0 no-repeat;
    margin: 70px 0 0 0;
    padding: 25px 0 0 230px; }
    @media (max-width: 1380px) {
      .hp__slider h2 {
        width: 45%;
        font-size: 45px;
        font-size: 2.813rem; } }
    @media (max-width: 1024px) {
      .hp__slider h2 {
        width: 100%;
        font-size: 30px;
        font-size: 1.875rem;
        text-align: center;
        background: none;
        margin-top: 5px;
        padding: 20px 50px; } }
    @media (max-width: 800px) {
      .hp__slider h2 {
        width: 100%; } }
  .hp__slider p {
    width: 50%;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    margin-top: 50px;
    padding: 0 0 0 230px; }
    @media (max-width: 1380px) {
      .hp__slider p {
        width: 80%; } }
    @media (max-width: 1024px) {
      .hp__slider p {
        width: 100%;
        font-size: 20px;
        font-size: 1.250rem;
        text-align: justify;
        margin-top: 10px;
        padding: 20px 50px; } }

.hp__slider__links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px; }
  .hp__slider__links a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit; }
    .hp__slider__links a span {
      text-decoration: underline; }
    .hp__slider__links a:hover span:after {
      margin-left: 10px; }
  .hp__slider__links .round-img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 6px solid #1a6e46;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    float: left; }
  .hp__slider__links p {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0; }
  .hp__slider__links span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff; }
    .hp__slider__links span:after {
      position: relative;
      bottom: 2px;
      display: inline-block;
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/hp-slider-link-after.png") no-repeat;
      vertical-align: middle;
      margin-left: 7px;
      transition: 300ms; }

.hp__why {
  /*.row:first-child {
  	border-bottom: 4px dotted #e3e3e3;
  	padding-bottom: 60px;
  }*/ }
  .hp__why h3 {
    width: 60%;
    font-family: 'Open-sans', sans-serif;
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bolder;
    color: #172430;
    margin-bottom: 30px; }
    @media (max-width: 1024px) {
      .hp__why h3 {
        width: 100%;
        clear: left; } }
    @media (max-width: 600px) {
      .hp__why h3 {
        text-align: center; } }
  @media (max-width: 1024px) {
    .hp__why .img-right, .hp__why .img-left {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      float: none; } }
  .hp__why .first:before {
    display: inline-block;
    position: relative;
    content: "1.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  .hp__why .second:before {
    display: inline-block;
    position: relative;
    content: "2.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  .hp__why .third:before {
    display: inline-block;
    position: relative;
    content: "3.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  .hp__why .fourth:before {
    display: inline-block;
    position: relative;
    content: "4.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  .hp__why .fifth:before {
    display: inline-block;
    position: relative;
    content: "5.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  .hp__why .sixth:before {
    display: inline-block;
    position: relative;
    content: "6.";
    width: 55px;
    height: 55px;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: #da1b0d;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px 0 0 5px;
    float: left; }
  @media (max-width: 600px) {
    .hp__why .first:before, .hp__why .second:before, .hp__why .third:before, .hp__why .fourth:before, .hp__why .fifth:before, .hp__why .sixth:before {
      display: none; } }
  .hp__why p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #46484a; }
    @media (max-width: 600px) {
      .hp__why p {
        text-align: center; } }
  .hp__why .row {
    border-bottom: 4px dotted #e3e3e3;
    padding-top: 50px;
    padding-bottom: 50px; }
    .hp__why .row .columns, .hp__why .row .column {
      padding-left: 3rem;
      padding-right: 3rem; }
  .hp__why .row:last-child {
    border-bottom: none; }

.hp__numbers {
  background: #f6f7f6;
  margin-top: 90px;
  text-align: center; }
  .hp__numbers .row div > span {
    display: inline-block;
    font-size: 60px;
    font-size: 3.600rem;
    font-weight: 800;
    color: #60656a; }
    @media (max-width: 1380px) {
      .hp__numbers .row div > span {
        font-size: 40px;
        font-size: 2.5rem; } }
  .hp__numbers .row p {
    display: inline-block;
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bold;
    color: #60656a;
    margin: 0;
    padding: 0; }

.hp__btn-more {
  display: inline-block;
  width: 210px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  color: #fff;
  border-radius: 4px;
  background: #172430 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
  transition: 300ms;
  margin: 100px 0;
  padding: 20px 0 20px 25px; }
  .hp__btn-more.btn-no-margin {
    margin: 0; }
  .hp__btn-more:hover {
    color: #fff;
    background: #2e805b url("../img/hp-button-arrow.png") 97% 50% no-repeat; }

.hp__service__box {
  width: 100%;
  max-width: 1920px;
  margin: auto; }

.hp__service__box__item {
  position: relative;
  width: 20%;
  max-height: 380px;
  text-align: center;
  overflow: hidden;
  float: left; }
  @media (max-width: 1024px) {
    .hp__service__box__item {
      width: 33%;
      height: auto; } }
  @media (max-width: 641px) {
    .hp__service__box__item {
      width: 50%; } }
  @media (max-width: 465px) {
    .hp__service__box__item {
      width: 80%;
      margin: 0 10%; } }
  .hp__service__box__item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 96, 51, 0.7);
    transition: 300ms; }
    .hp__service__box__item .overlay:hover {
      background: rgba(0, 96, 51, 0.4);
      z-index: 2; }
  .hp__service__box__item img {
    max-width: 100%;
    height: auto;
    overflow: hidden; }
  .hp__service__box__item p {
    position: absolute;
    width: 85%;
    /* Stejne zarovnani shora: top: 100px;*/
    top: 100px;
    		/*// Vycentrov├ín├ş
    		top: 50%;
      		transform: translateY(-50%);*/
    left: 0;
    right: 0;
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    z-index: 1;
    margin: 0 10%; }
    @media (max-width: 1410px) {
      .hp__service__box__item p {
        top: 20%; } }
    @media (max-width: 1155px) {
      .hp__service__box__item p {
        top: 10%; } }
    @media (max-width: 700px) {
      .hp__service__box__item p {
        top: 13%; } }
    @media (max-width: 640px) {
      .hp__service__box__item p {
        top: 20%; } }
    @media (max-width: 465px) {
      .hp__service__box__item p {
        top: 100px; } }
    @media (max-width: 1024px) {
      .hp__service__box__item p {
        top: 20%; } }
    .hp__service__box__item p img {
      display: block;
      margin: auto;
      height: 83px;
      padding-bottom: 30px; }
      @media (min-width: 1410px) {
        .hp__service__box__item p img {
          height: 90px; } }
      @media (min-width: 1600px) {
        .hp__service__box__item p img {
          height: 100px; } }
  .hp__service__box__item span {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 72px;
    font-size: 4.5rem;
    transition: 300ms;
    font-weight: lighter;
    color: #fff;
    z-index: 1; }
    @media (max-width: 1024px) {
      .hp__service__box__item span {
        display: none; } }
  .hp__service__box__item a:hover span {
    font-size: 100px;
    font-size: 6.250rem; }

.hp__journey {
  position: relative;
  width: 100%;
  min-height: 735px;
  background: #192632 url("../img/hp-journey-bg.png") no-repeat;
  background-size: cover; }

.hp__journey__map {
  width: 60%;
  min-height: 572px;
  background: url("../img/hp-journey-map.png") 50% 50% no-repeat;
  margin-top: 20px;
  float: left; }
  @media (max-width: 1024px) {
    .hp__journey__map {
      display: none; } }

.hp__journey__form {
  width: 40%;
  float: left; }
  @media (max-width: 1024px) {
    .hp__journey__form {
      width: 80%;
      margin: 0 10%; } }
  @media (max-width: 641px) {
    .hp__journey__form {
      width: 85%;
      margin: 0; } }
  .hp__journey__form form {
    position: relative;
    left: 25px;
    width: 382px;
    border-top: 5px solid #da1b0d;
    background: #fff url("../img/hp-journey-form-bg.png") 100% 100% no-repeat;
    margin-top: 40px;
    padding: 0 25px; }
    @media (max-width: 1024px) {
      .hp__journey__form form {
        width: 100%; } }
    .hp__journey__form form p {
      font-size: 24px;
      font-size: 1.5rem;
      color: #172430;
      margin: 40px 0 0 0;
      padding: 0; }
    .hp__journey__form form span {
      display: inline-block;
      font-size: 16px;
      font-size: 1rem;
      color: #172430;
      margin-bottom: 30px; }
    .hp__journey__form form input[type="text"], .hp__journey__form form input[type="email"], .hp__journey__form form select {
      width: 100%;
      height: 50px;
      color: #7f7f7f;
      border-radius: 25px;
      border: 1px solid #dcdcdc;
      margin-bottom: 10px;
      padding: 0 20px; }
    .hp__journey__form form input[type="text"], .hp__journey__form form input[type="email"], .hp__journey__form form select:placeholder {
      color: #7f7f7f; }
    .hp__journey__form form input[type="text"], .hp__journey__form form input[type="email"], .hp__journey__form form select::-webkit-input-placeholder {
      color: #7f7f7f; }
    .hp__journey__form form input[type="text"], .hp__journey__form form input[type="email"], .hp__journey__form form select:-ms-input-placeholder {
      color: #7f7f7f; }
    .hp__journey__form form option {
      padding: 7px; }
    .hp__journey__form form input[type="submit"] {
      width: 100%;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: bold;
      color: #fff;
      border: none;
      background: #da1b0d;
      margin: 20px 0;
      padding: 15px 0; }

.hp__journey__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 106, 59, 0.8); }
  @media (max-width: 1024px) {
    .hp__journey__text {
      position: static;
      margin-top: 50px;
      text-align: center; } }
  .hp__journey__text .row p {
    padding: 12px 0; }
  .hp__journey__text .row strong {
    font-weight: bold; }
  .hp__journey__text .row span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
    margin: 0 15px; }
  .hp__journey__text .row .columns:nth-child(1) p {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff; }
  .hp__journey__text .row .columns:nth-child(2) a:first-child {
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    margin-top: 25px; }
    .hp__journey__text .row .columns:nth-child(2) a:first-child:before {
      display: inline-block;
      content: "";
      width: 31px;
      height: 31px;
      background: url("../img/icn-phone-journey.png") no-repeat;
      vertical-align: middle;
      margin-right: 7px; }
  .hp__journey__text .row .columns:nth-child(2) a:last-child {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 71, 39, 0.8);
    transition: 300ms;
    padding: 15px 40px; }
    .hp__journey__text .row .columns:nth-child(2) a:last-child:hover {
      color: #004626;
      background: #fff; }

.hp__cars__item {
  position: relative;
  width: 24.2%;
  max-height: 220px;
  overflow: hidden;
  margin: 0 0.4%;
  padding: 0; }
  @media (max-width: 1024px) {
    .hp__cars__item {
      width: 40%;
      margin: 5px 5%; } }
  @media (max-width: 641px) {
    .hp__cars__item {
      width: 80%;
      margin: 5px 10%; } }
  .hp__cars__item a:hover span {
    font-size: 45px;
    font-size: 2.813rem; }
  .hp__cars__item img {
    width: 100%;
    height: auto; }
  .hp__cars__item .overlay {
    position: absolute;
    bottom: 5%;
    z-index: 2; }
  .hp__cars__item .gradient {
    position: absolute;
    height: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, #000000 90%); }
  .hp__cars__item h3 {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0 30px 0 10px; }
  .hp__cars__item p {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: lighter;
    color: #fff;
    margin: 0;
    padding: 0 30px 0 10px; }
  .hp__cars__item span {
    position: absolute;
    right: 10px;
    bottom: 2px;
    font-size: 35px;
    font-size: 2.188rem;
    transition: 300ms;
    font-weight: lighter;
    color: #fff;
    z-index: 2; }

.hp__banners {
  width: 100%;
  max-width: 1280px;
  margin: auto; }
  @media (max-width: 1024px) {
    .hp__banners {
      display: none; } }

.banners-wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto; }

.banners-slider {
  position: relative; }

.content {
  padding-bottom: 20px; }
  .content h2 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #006637;
    margin: 20px 0; }
  .content h3 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #464a4d; }
  .content p, .content ul {
    font-size: 16px;
    font-size: 1rem;
    color: #464a4d; }
  .content ul {
    margin-left: 50px; }
    .content ul li {
      padding: 7px 0; }
  .content .side-menu {
    width: 100%;
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0; }
    .content .side-menu li {
      width: 100%;
      display: inline-block;
      font-weight: normal;
      border-bottom: 1px solid #c7ccd6;
      background: #e8e9eb;
      transition: 300ms;
      margin: 0; }
      .content .side-menu li:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px; }
      .content .side-menu li:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom: none; }
      .content .side-menu li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 10px 20px; }
        .content .side-menu li a:hover {
          text-decoration: underline; }
    .content .side-menu .active {
      font-weight: bold;
      color: #fff;
      background: #006637; }
  .content .sp__side-services {
    position: relative;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    margin: auto; }
    @media (max-width: 641px) {
      .content .sp__side-services {
        background: #da1b0d; } }
    .content .sp__side-services a:hover span {
      font-size: 70px;
      font-size: 4.375rem; }
    .content .sp__side-services img {
      max-width: 100%;
      height: auto;
      overflow: hidden; }
      @media (max-width: 641px) {
        .content .sp__side-services img {
          display: none; } }
    .content .sp__side-services h3 {
      position: absolute;
      top: 15%;
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      z-index: 1; }
    .content .sp__side-services p {
      position: absolute;
      top: 45%;
      font-size: 16px;
      font-size: 1rem;
      font-weight: lighter;
      color: #fff;
      z-index: 1; }
    .content .sp__side-services span {
      position: absolute;
      right: 5%;
      bottom: 0;
      font-size: 48px;
      font-size: 3rem;
      transition: 300ms;
      font-weight: lighter;
      color: #fff;
      z-index: 1; }
    .content .sp__side-services .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(218, 27, 13, 0.7); }

.side p {
  font-weight: normal; }
.side form {
  width: 100%; }
  .side form div {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: url("../img/form-file-bg.png") 100% 50% no-repeat;
    margin: 0 0 15px 0;
    padding: 0 0 0 7px; }
    .side form div p {
      display: inline-block;
      font-size: 16px;
      font-size: 1rem;
      color: #46484a;
      margin-top: 12px; }
  .side form input[type="text"], .side form div {
    width: 100%;
    height: 55px;
    font-weight: lighter;
    color: #46484a;
    border-radius: 4px;
    border: 2px solid #d7d7d7; }
  .side form input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2; }
    .side form input[type="file"]:after {
      display: inline-block;
      content: "Proch├ízet"; }
  .side form input[type="submit"] {
    font-weight: bold;
    color: #fff;
    border: none;
    background: #006637 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
    padding: 15px 65px 15px 25px;
    float: right; }
  .side form textarea {
    width: 100%;
    height: 150px;
    font-weight: lighter;
    border-radius: 4px;
    border: 2px solid #d7d7d7; }

.sp__banner {
  width: 100%;
  min-height: 200px;
  background: #006033 url("../img/sp-banner-bg.png") no-repeat;
  background-size: cover;
  margin-top: 120px; }
  .sp__banner h1 {
    font-size: 60px;
    font-size: 3.750rem;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    padding-top: 50px; }
    .sp__banner h1 strong {
      font-weight: bold; }
    .sp__banner h1 img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px; }
  @media (max-width: 1024px) {
    .sp__banner {
      margin-top: 0; } }
  @media (max-width: 800px) {
    .sp__banner {
      display: none; } }

.sp__contact {
  background: rgba(0, 106, 59, 0.8); }
  @media (max-width: 1024px) {
    .sp__contact {
      position: static;
      margin-top: 50px;
      text-align: center; } }
  .sp__contact .row p {
    padding: 12px 0; }
  .sp__contact .row strong {
    font-weight: bold; }
  .sp__contact .row span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
    margin: 0 15px; }
  .sp__contact .row .columns:nth-child(1) p {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff; }
  .sp__contact .row .columns:nth-child(2) a:first-child {
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    margin-top: 25px; }
    .sp__contact .row .columns:nth-child(2) a:first-child:before {
      display: inline-block;
      content: "";
      width: 31px;
      height: 31px;
      background: url("../img/icn-phone-journey.png") no-repeat;
      vertical-align: middle;
      margin-right: 7px; }
  .sp__contact .row .columns:nth-child(2) a:last-child {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 71, 39, 0.8);
    transition: 300ms;
    padding: 15px 40px; }
    .sp__contact .row .columns:nth-child(2) a:last-child:hover {
      color: #004626;
      background: #fff; }

.sp__btn-more {
  display: inline-block;
  width: 210px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  color: #fff;
  border-radius: 4px;
  background: #2e805b url("../img/hp-button-arrow.png") 94% 50% no-repeat;
  transition: 300ms;
  margin: 80px 0;
  padding: 15px 0 15px 25px; }
  .sp__btn-more:hover {
    color: #fff;
    background: #172430 url("../img/hp-button-arrow.png") 97% 50% no-repeat; }

.sp__btn-back {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  color: #fff;
  border-radius: 4px;
  background: #2e805b url("../img/hp-button-back.png") 2% 50% no-repeat;
  transition: 300ms;
  margin: 15px 0;
  padding: 15px 15px 15px 50px; }
  .sp__btn-back:hover {
    color: #fff;
    background: #172430 url("../img/hp-button-back.png") 5% 50% no-repeat; }

.sp__career-btn {
  text-align: center;
  border-bottom: 3px dotted #DADBDB;
  margin-bottom: 30px;
  padding-bottom: 30px; }
  .sp__career-btn:last-child {
    border: none; }
  .sp__career-btn .sp__btn-more {
    margin: 40px 0 25px 0; }

.about__us .first:before {
  display: inline-block;
  position: relative;
  content: "1.";
  width: 55px;
  height: 55px;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  border-radius: 50px;
  background: #da1b0d;
  vertical-align: middle;
  margin-right: 15px;
  padding: 10px 0 0 5px; }
.about__us .second:before {
  display: inline-block;
  position: relative;
  content: "2.";
  width: 55px;
  height: 55px;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  border-radius: 50px;
  background: #da1b0d;
  vertical-align: middle;
  margin-right: 15px;
  padding: 10px 0 0 5px; }
.about__us .third:before {
  display: inline-block;
  position: relative;
  content: "3.";
  width: 55px;
  height: 55px;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  border-radius: 50px;
  background: #da1b0d;
  vertical-align: middle;
  margin-right: 15px;
  padding: 10px 0 0 5px; }
.about__us .fourth:before {
  display: inline-block;
  position: relative;
  content: "4.";
  width: 55px;
  height: 55px;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  border-radius: 50px;
  background: #da1b0d;
  vertical-align: middle;
  margin-right: 15px;
  padding: 10px 0 0 5px;
  float: left; }

.about__us__item {
  border-bottom: 4px dotted #e3e3e3;
  margin: 10px 0;
  padding: 30px 0 50px 0; }

.about__timeline {
  width: 100%;
  height: auto;
  /*min-height: auto;
  max-height: 1000px;
  overflow: hidden;*/
  padding-top: 50px; }
  @media (max-width: 1185px) {
    .about__timeline {
      max-height: 1500px; } }
  @media (max-width: 1025px) {
    .about__timeline {
      background: none; } }
  .about__timeline h2 {
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bold;
    color: #464a4d; }
  .about__timeline p {
    font-size: 16px;
    font-size: 1rem;
    color: #464a4d; }
  .about__timeline .left {
    float: left; }
    @media (max-width: 1025px) {
      .about__timeline .left {
        float: none; } }
  .about__timeline .right {
    float: right; }
    @media (max-width: 1025px) {
      .about__timeline .right {
        float: none; } }
  .about__timeline .item {
    position: relative;
    width: 33%;
    clear: both; }
    @media (max-width: 1025px) {
      .about__timeline .item {
        width: 80%;
        border-bottom: 2px solid #da1b0d;
        padding: 0 15px;
        margin: 0 10%; } }
    @media (min-width: 1025px) {
      .about__timeline .item:nth-child(2) {
        position: relative;
        bottom: 60px; }
      .about__timeline .item:nth-child(3) {
        position: relative;
        bottom: 140px; }
      .about__timeline .item:nth-child(4) {
        position: relative;
        bottom: 195px; }
        .about__timeline .item:nth-child(4) .right__date {
          top: 10px; }
      .about__timeline .item:nth-child(5) {
        position: relative;
        bottom: 275px; }
      .about__timeline .item:nth-child(6) {
        position: relative;
        bottom: 305px; }
        .about__timeline .item:nth-child(6) .right__date {
          top: -55px; }
      .about__timeline .item:nth-child(7) {
        position: relative;
        bottom: 345px; }
      .about__timeline .item:nth-child(8) {
        position: relative;
        bottom: 385px; } }
  .about__timeline .date {
    width: 95px;
    height: 95px;
    text-align: center;
    border-radius: 50px;
    background: #da1b0d;
    z-index: 2; }
    .about__timeline .date p {
      display: inline-block;
      font-weight: bold;
      color: #fff;
      margin-top: 33px; }
  .about__timeline .left__date {
    position: absolute;
    top: -20px;
    right: -120px; }
    @media (max-width: 1100px) {
      .about__timeline .left__date {
        display: none; } }
  .about__timeline .right__date {
    position: absolute;
    top: -4px;
    left: -247px; }
    @media (max-width: 1100px) {
      .about__timeline .right__date {
        display: none; } }
  .about__timeline .line {
    position: absolute;
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1; }
  .about__timeline .line--1 {
    top: -14%;
    right: -49%;
    /*top: 15px;
    right: -245px;*/
    background: url("../img/timeline-line-1.png");
    transform: rotate(-5deg); }
    @media (max-width: 1110px) {
      .about__timeline .line--1 {
        display: none; } }
  .about__timeline .line--2 {
    top: -1%;
    left: -91%;
    /*top: 20px;
    left: -245px;*/
    background: url("../img/timeline-line-2.png");
    transform: rotate(8deg); }
    @media (max-width: 1110px) {
      .about__timeline .line--2 {
        display: none; } }

.about__us-why {
  width: 100%;
  max-width: 1100px; }

.about__us-why__item {
  width: 30%;
  min-height: 390px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #eeeeee;
  border: 1px solid #eeeeee;
  padding: 2%;
  margin: 10px 1.6%;
  float: left;
  padding-bottom: 0; }
  @media (max-width: 960px) {
    .about__us-why__item {
      min-height: 550px; } }
  @media (max-width: 690px) {
    .about__us-why__item {
      width: 90%;
      min-height: 80px;
      text-align: center;
      margin: 10px 5%; } }
  .about__us-why__item img {
    margin-bottom: 20px; }
  .about__us-why__item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #172430;
    margin-bottom: 20px; }
  .about__us-why__item p {
    font-size: 16px;
    font-weight: normal;
    color: #464a4d; }

.sp__banner.about {
  margin-top: 200px; }

#subnav-sticky {
  position: fixed;
  top: 200px;
  transition: 200ms;
  width: 100%;
  height: 70px;
  z-index: 3; }
  #subnav-sticky .about_subnav {
    background-color: #172430;
    color: white;
    font-size: 16px; }
    #subnav-sticky .about_subnav li {
      padding: 16px 12px; }
      #subnav-sticky .about_subnav li.active {
        font-weight: 600; }

.sp__banner.about {
  margin-top: 200px; }

#subnav-sticky {
  position: fixed;
  top: 200px;
  transition: 200ms;
  width: 100%;
  height: 70px;
  z-index: 3; }

#subnav-sticky .about_subnav {
  background-color: #172430;
  color: white;
  font-size: 16px; }

#subnav-sticky .about_subnav li {
  padding: 16px 12px; }

#subnav-sticky .about_subnav li.active {
  font-weight: 600; }

.contact__detail {
  margin: 40px 0; }
  .contact__detail h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #006637; }
  .contact__detail p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #46484a; }

.contact__department {
  width: 100%;
  max-width: 1180px;
  border: 1px solid #dadbdb;
  padding: 20px 15px;
  margin: 0 auto 40px; }
  .contact__department:before {
    position: relative;
    bottom: 37px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 12px;
    background: url("../img/contact-arrow.png") no-repeat; }
  .contact__department h2 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #006637;
    margin-left: 15px; }
  .contact__department span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #46484a;
    margin-bottom: 10px; }
  .contact__department p > span {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #46484a;
    margin: 0; }
  .contact__department .row > div > p:first-child {
    margin: 0; }
  .contact__department .row:first-child {
    margin-bottom: 30px; }

.contact__form {
  width: 100%;
  height: auto;
  background: #f6f7f6;
  padding: 25px 0; }
  .contact__form h2 {
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #006637;
    margin-left: 15px; }
  .contact__form span {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: lighter;
    color: #136694;
    background: #c3e9fe;
    padding: 15px 20px;
    margin: 0 0 40px 40px; }
  .contact__form input[type="text"], .contact__form input[type="email"] {
    width: 100%;
    height: 55px;
    font-weight: lighter;
    border-radius: 4px;
    border: 2px solid #e5e5e5; }
  .contact__form input[type="submit"] {
    font-weight: bold;
    color: #fff;
    border: none;
    background: #006637 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
    padding: 15px 65px 15px 25px;
    float: right; }
  .contact__form textarea {
    width: 100%;
    height: 197px;
    font-weight: lighter;
    border-radius: 4px;
    border: 2px solid #e5e5e5; }

.contact__form--sp {
  background: none; }

.contact__modal-dialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.contact__modal-dialog:target {
  opacity: 1;
  pointer-events: auto; }

.contact__modal-dialog > div {
  width: 90%;
  max-width: 800px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px;
  background: #fff; }

.contact__modal-dialog__close {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 39px;
  height: 39px;
  font-size: 21px;
  font-size: 1.313rem;
  text-align: center;
  text-decoration: none;
  line-height: 39px;
  color: #FFFFFF;
  border-radius: 50%;
  background: #006637; }

.contact__modal-dialog__close {
  background: #006637; }

.news-list .row {
  border-bottom: 4px dotted #ececec;
  padding-top: 20px; }
.news-list .img-left {
  margin-right: 30px; }
.news-list .img-right {
  margin-left: 30px; }
.news-list img {
  margin-top: 30px; }

.content.services {
  padding-bottom: 0; }

.services h2 {
  font-size: 30px;
  font-size: 1.875rem;
  color: #006637;
  margin-bottom: 40px; }

.services__item {
  position: relative;
  min-height: 550px; }
  @media (max-width: 641px) {
    .services__item {
      border-bottom: 2px solid #dcdcdc; } }
  .services__item .row {
    padding: 100px 0 0 0; }
    @media (max-width: 1290px) {
      .services__item .row {
        border-radius: 10px;
        background: rgba(252, 252, 252, 0.8);
        padding: 20px 0; } }

.service__icon {
  position: absolute; }
  @media (max-width: 1100px) {
    .service__icon img:first-child {
      display: none; } }

.service__icon:nth-child(even) {
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
  text-align: right;
  z-index: 5; }

.service__icon:nth-child(odd) {
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  text-align: left;
  z-index: 5; }

.services__item:nth-child(1) {
  background: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(1) .service__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(1) .service__img {
      display: none; } }

.services__item:nth-child(2) {
  background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(2) .service__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(2) .service__img {
      display: none; } }

.services__item:nth-child(3) {
  background: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(3) .service__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(3) .service__img {
      display: none; } }

.services__item:nth-child(4) {
  background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(4) .service__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(4) .service__img {
      display: none; } }

.services__item:nth-child(5) {
  background: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(5) .service__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(5) .service__img {
      display: none; } }

.services__item:nth-child(6) {
  background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0)); }
  .services__item:nth-child(6) .service__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  @media (max-width: 800px) {
    .services__item:nth-child(6) .service__img {
      display: none; } }

.services__item--car:nth-child(1) {
  background: url("../user-files/img/services-car1.jpg") 100% 100% no-repeat; }
  @media (max-width: 800px) {
    .services__item--car:nth-child(1) {
      background: none; } }

.services__item--car:nth-child(2) {
  background: url("../user-files/img/services-car2.jpg") 0% 100% no-repeat; }
  @media (max-width: 800px) {
    .services__item--car:nth-child(2) {
      background: none; } }

.services__item--car:nth-child(3) {
  background: url("../user-files/img/services-car3.jpg") 100% 100% no-repeat; }
  @media (max-width: 800px) {
    .services__item--car:nth-child(3) {
      background: none; } }

.services__item--car:nth-child(4) {
  background: url("../user-files/img/services-car4.jpg") 0% 100% no-repeat; }
  @media (max-width: 800px) {
    .services__item--car:nth-child(4) {
      background: none; } }

.services__btn {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #525659;
  border-bottom: 2px solid transparent;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  margin-left: 20px; }
  .services__btn:hover {
    border-bottom: 2px solid #525659; }

.car-detail {
  margin-top: 40px; }
  .car-detail ul li {
    border-bottom: 4px solid #e4e4e4;
    padding: 0; }
  .car-detail ul .is-active {
    border-bottom: 4px solid #df7a72; }
  .car-detail .tabs {
    border: none;
    margin: 0; }
    .car-detail .tabs a {
      font-size: 16px;
      font-size: 1rem;
      color: #36414c; }
  .car-detail .tabs-title > a:focus, .car-detail .tabs-title > a[aria-selected="true"] {
    font-weight: bold;
    background: none; }
  .car-detail .tabs-content {
    border: none; }
  .car-detail .dropdown-pane {
    left: -50%;
    right: -50%;
    width: 100px;
    font-size: 12px;
    font-size: 0.750rem;
    font-weight: bold;
    text-align: center;
    color: #222;
    border: 1px solid #33855f;
    background: #ffffff;
    padding: 5px 10px 0 10px;
    /*&:after {
    	position: relative;
    	top: 7px;
    	right: 5px;
    	display: block;
    	content: "";
    	width: 15px;
    	height: 8px;
    	background: url("../img/icn-dropdown-arrow.png") no-repeat;
    }*/ }
  .car-detail .icn-dropdown {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
    background: #de3125; }
    .car-detail .icn-dropdown img {
      vertical-align: middle; }

footer {
  width: 100%;
  min-height: 270px;
  background: #172430 url("../img/footer-bg.png") 100% 100% no-repeat; }
  footer h3 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0; }
  footer p, footer ul, footer li {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff; }
  footer form {
    position: relative; }
    footer form input[type="email"] {
      position: relative;
      width: 100%;
      height: 55px;
      font-weight: lighter;
      color: #fff;
      border-radius: 25px;
      border: none;
      background: #2f3a45;
      padding-left: 15px; }
      footer form input[type="email"]:hover {
        background: #2F3A45; }
      footer form input[type="email"]:focus {
        background: #2F3A45; }
    footer form input[type="submit"] {
      position: absolute;
      top: 2px;
      right: 3px;
      width: 51px;
      height: 51px;
      border: none;
      background: url("../img/footer-form-button.png") no-repeat; }
  footer ul {
    list-style-type: none; }
    footer ul li a:hover {
      text-decoration: underline; }
  footer img {
    margin-right: 2px;
    float: left; }
  footer .tel {
    display: inline-block;
    text-transform: uppercase;
    text-align: right;
    color: #d7dbde;
    background: url("../img/footer-tel-break.png") no-repeat;
    margin: 0;
    padding: 0 0 0 50px; }
    footer .tel span {
      font-size: 30px;
      font-size: 1.875rem;
      font-weight: lighter;
      margin: 0;
      padding: 0; }

/*# sourceMappingURL=css.css.map */
