.about__us {
	.first:before {
		display: inline-block;
		position: relative;
		content: "1.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
	}

	.second:before {
		display: inline-block;
		position: relative;
		content: "2.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
	}

	.third:before {
		display: inline-block;
		position: relative;
		content: "3.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
	}

	.fourth:before {
		display: inline-block;
		position: relative;
		content: "4.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}
}

.about__us__item {
	border-bottom: 4px dotted #e3e3e3;
	margin: 10px 0;
	padding: 30px 0 50px 0;
}

.about__timeline {
	width: 100%;
	height: auto;
	/*min-height: auto;
	max-height: 1000px;
	overflow: hidden;*/
	padding-top: 50px;

	@media (max-width: 1185px) {
		max-height: 1500px;
	}

	@media (max-width: 1025px) {
		background: none;
	}

	h2 {
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bold;
		color: #464a4d;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		color: #464a4d;
	}

	.left {
		float: left;

		@media (max-width: 1025px) {
			float: none;
		}
	}

	.right {
		float: right;

		@media (max-width: 1025px) {
			float: none;
		}
	}

	.item {
		position: relative;
		width: 33%;
		clear: both;

		@media (max-width: 1025px) {
			width: 80%;
			border-bottom: 2px solid #da1b0d;
			padding: 0 15px;
			margin: 0 10%;
		}

		@media (min-width: 1025px) {
			&:nth-child(2) {
				position: relative;
				bottom: 60px;
			}

			&:nth-child(3) {
				position: relative;
				bottom: 140px;
			}

			&:nth-child(4) {
				position: relative;
				bottom: 195px;

				.right__date {
					top: 10px;
				}
			}

			&:nth-child(5) {
				position: relative;
				bottom: 275px;
			}

			&:nth-child(6) {
				position: relative;
				bottom: 305px;

				.right__date {
					top: -55px;
				}
			}

			&:nth-child(7) {
				position: relative;
				bottom: 345px;
			}

			&:nth-child(8) {
				position: relative;
				bottom: 385px;
			}
		}
	}

	.date {
		width: 95px;
		height: 95px;
		text-align: center;
		border-radius: 50px;
		background: #da1b0d;
		z-index: 2;


		p {
			display: inline-block;
			font-weight: bold;
			color: #fff;
			margin-top: 33px;
		}
	}

	.left__date {
		position: absolute;
		top: -20px;
		right: -120px;

		@media (max-width: 1100px) {
			display: none;
		}
	}

	.right__date {
		position: absolute;
		top: -4px;
		left: -247px;

		@media (max-width: 1100px) {
			display: none;
		}
	}

	.line {
		position: absolute;
		width: 150px;
		height: 150px;
		//width: 187px;
		//height: 189px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.line--1 {
		top: -14%;
		right: -49%;
		/*top: 15px;
		right: -245px;*/
		background: url("../img/timeline-line-1.png");
		transform: rotate(-5deg);

		@media (max-width: 1110px) {
			display: none;
		}
	}

	.line--2 {
		top: -1%;
		left: -91%;
		/*top: 20px;
		left: -245px;*/
		background: url("../img/timeline-line-2.png");
		transform: rotate(8deg);

		@media (max-width: 1110px) {
			display: none;
		}
	}
}

.about__us-why {
	width: 100%;
	max-width: 1100px;

}

.about__us-why__item {
	width: 30%;
	min-height: 390px; 
	border-radius: 4px;
	box-shadow: 2px 2px 5px #eeeeee;
	border: 1px solid #eeeeee;
	padding: 2%;
	margin: 10px 1.6%;
	float: left;
	padding-bottom:0;

	@media (max-width: 960px) {
		min-height: 550px;
	}

	@media (max-width: 690px) {
		width: 90%;
		min-height: 80px;
		text-align: center;
		margin: 10px 5%;
	}

	img {
		margin-bottom: 20px;
	}

	h3 {
		font-size: 20px;
		font-weight: 700;
		color: #172430;
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
		font-weight: normal;
		color: #464a4d;
	}
}
.sp__banner.about {
	margin-top: 200px;
}
#subnav-sticky {
		position: fixed;
		top:200px;
		transition: 200ms;
		width: 100%;
		height:70px;
		z-index: 3;
	.about_subnav {
		background-color:#172430;
		color: white;
		
		font-size: 16px;
		li {
			padding:16px 12px;
			&.active {
				font-weight: 600;
			}
		}
	}
	
}

.sp__banner.about {
  margin-top: 200px; }

#subnav-sticky {
  position: fixed;
  top: 200px;
  transition: 200ms;
  width: 100%;
  height: 70px;
  z-index: 3; 
}

#subnav-sticky .about_subnav {
	background-color: #172430;
    color: white;
    font-size: 16px;
}

#subnav-sticky .about_subnav li {
    padding: 16px 12px; 
}

#subnav-sticky .about_subnav li.active {
        font-weight: 600; 
}
