.car-detail {
	margin-top: 40px;

	ul {
		li {
			border-bottom: 4px solid #e4e4e4;
			padding: 0;
		}

		.is-active {
			border-bottom: 4px solid #df7a72;
		}
	}

	.tabs {
		border: none;
		margin: 0;

		a {
			font-size: 16px;
			font-size: 1rem;
			color: #36414c;
		}
	}

	.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
		font-weight: bold;
		background: none;
	}

	.tabs-content {
		border: none;
	}

	.dropdown-pane {
		left: -50%;
		right: -50%;
		width: 100px;
		font-size: 12px;
		font-size: 0.750rem;
		font-weight: bold;
		text-align: center;
		color: #222;
		border: 1px solid #33855f;
		background: #ffffff;
		padding: 5px 10px 0 10px;

		/*&:after {
			position: relative;
			top: 7px;
			right: 5px;
			display: block;
			content: "";
			width: 15px;
			height: 8px;
			background: url("../img/icn-dropdown-arrow.png") no-repeat;
		}*/
	}

	.icn-dropdown {
		width: 32px;
		height: 32px;
		text-align: center;
		border-radius: 4px;
		background: #de3125;

		img {
			vertical-align: middle;
		}
	}
}