.contact__detail {
	margin: 40px 0;

	h2 {
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: lighter;
		color: #006637;
	}

	p {
		font-size: 18px;
		font-size: 1.125rem;
		color: #46484a;
	}
}

.contact__department {
	width: 100%;
	max-width: 1180px;
	border: 1px solid #dadbdb;
	padding: 20px 15px;
	margin: 0 auto 40px;

	&:before {
		position: relative;
		bottom: 37px;
		display: inline-block;
		content: "";
		width: 16px;
		height: 12px;
		background: url("../img/contact-arrow.png") no-repeat;
	}

	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #006637;
		margin-left: 15px;
	}

	span {
		display: inline-block;
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #46484a;
		margin-bottom: 10px;
	}

	p > span {
		display: inline-block;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #46484a;
		margin: 0;
	}

	.row > div > p:first-child {
		margin: 0;
	}

	.row:first-child {
		margin-bottom: 30px;
	}
}

.contact__form {
	width: 100%;
	height: auto;
	background: #f6f7f6;
	padding: 25px 0;

	h2 {
		display: inline-block;
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #006637;
		margin-left: 15px;
	}

	span {
		display: inline-block;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: lighter;
		color: #136694;
		background: #c3e9fe;
		padding: 15px 20px;
		margin: 0 0 40px 40px;
	}

	input[type="text"], input[type="email"] {
		width: 100%;
		height: 55px;
		font-weight: lighter;
		border-radius: 4px;
		border: 2px solid #e5e5e5;
	}

	input[type="submit"] {
		font-weight: bold;
		color: #fff;
		border: none;
		background: #006637 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
		padding: 15px 65px 15px 25px;
		float: right;
	}

	textarea {
		width: 100%;
		height: 197px;
		font-weight: lighter;
		border-radius: 4px;
		border: 2px solid #e5e5e5;
	}
}

.contact__form--sp {
	background: none;
}

.contact__modal-dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.contact__modal-dialog:target {
	opacity:1;
	pointer-events: auto;
}

.contact__modal-dialog > div {
	width: 90%;
	max-width: 800px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 4px;
	background: #fff;
}

.contact__modal-dialog__close {
	position: absolute;
	top: -10px;
	right: -12px;
	width: 39px;
	height: 39px;
	font-size: 21px;
	font-size: 1.313rem;
	text-align: center;	
	text-decoration: none;
	line-height: 39px;
	color: #FFFFFF;
	border-radius: 50%;
	background: #006637;	
}

.contact__modal-dialog__close {
	background: #006637;
}