footer {
	width: 100%;
	min-height: 270px;
	background: #172430 url("../img/footer-bg.png") 100% 100% no-repeat;

	h3 {
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin: 20px 0;
	}

	p, ul, li {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #fff;
	}

	form {
		position: relative;

		input[type="email"] {
			position: relative;
			width: 100%;
			height: 55px;
			font-weight: lighter;
			color: #fff;
			border-radius: 25px;
			border: none;
			background: #2f3a45;
			padding-left: 15px;

			&:hover {
				background: #2F3A45;
			}

			&:focus {
				background: #2F3A45;
			}
		}

		input[type="submit"] {
			position: absolute;
			top: 2px;
			right: 3px;
			width: 51px;
			height: 51px;
			border: none;
			background: url("../img/footer-form-button.png") no-repeat;
		}
	}

	ul {
		list-style-type: none;

		li a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	img {
		margin-right: 2px;
		float: left;
	}

	.tel {
		display: inline-block;
		text-transform: uppercase;
		text-align: right;
		color: #d7dbde;
		background: url("../img/footer-tel-break.png") no-repeat;
		margin: 0;
		padding: 0 0 0 50px;

		span {
			font-size: 30px;
			font-size: 1.875rem;
			font-weight: lighter;
			margin: 0;
			padding: 0;
		}
	}
}