.head__info {
	font-size: 16px;
	font-size: 1rem;
	color: #464a4d;
	border-bottom: 1px solid #e8e9eb;
	padding: 15px 0;

	strong {
		font-weight: bolder;
	}

	form {
		position: relative;
		width: 300px;
		height: 44px;
		margin-right: 5px;
		float: left;

		@media (max-width: 1024px) {
			width: 70%;
			margin: 15px 15% 15px 15%;
		}

		input[type="search"] {
			position: relative;
			width: 100%;
			height: 100%;
			font-size: 14px;
			font-size: 0.875rem;
			font-weight: lighter;
			border-radius: 25px;
			border: 1px solid #ededef;
		}

		input[type="submit"] {
			position: absolute;
			top: 0;
			right: 10px;
			width: 19px;
			height: 100%;
			color: rgba(0,0,0,0);
			border: none;
			background: none;
			background: url("../img/icn-head-search.png") 50% 50% no-repeat;
		}
	}

	.dropdown-pane {
		width: 100px;
		border-top: none;
		z-index: 20;
	}
}

.head__contact {
	p {
		margin: 0;
		padding: 0;
		margin-top: 7px;
	}

	a {
		@media (max-width: 641px) {
			display: inline-block;
			width: 100%;
		}
	}

	a:first-child:before {
		display: inline-block;
		content: "";
		width: 31px;
		height: 31px;
		background: url("../img/icn-head-phone.png") no-repeat;
		vertical-align: middle;
		margin: 0 5px;
	}

	a:last-child:before {
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		background: url("../img/icn-head-mail.png") no-repeat;
		vertical-align: middle;
		margin: 0 5px;
	}

	@media (max-width: 1024px) {
		text-align: center;
	}
}

.head__events {
	border-left: 1px solid #e8e9eb;

	@media (max-width: 1024px) {
		text-align: center;
	}

	span {
		display: inline-block;
		width: 75px;
		text-align: center;
		//border-left: 1px solid #e8e9eb;
		border-right: 1px solid #e8e9eb;

		@media (max-width: 1024px) {
			border: none;
		}
	}

	span:last-child {
		border-left: none;
		border-right: none;
	}

	img {
		margin-top: 7px;
	}

	.lang-arrow {
		position: relative;
		left: 5px;
	}
}

#sticky-head {
	background: #fff;

	@media (max-width: 1024px) {
		position: static;
	}

	@media (min-width: 1025px) {
		position: fixed;
		top: 80px;
		left: 0;
		right: 0;
		z-index: 15;
		transition: 200ms;
	}
}

.head {
	padding: 40px 0 0 0;

	@media (max-width: 1024px) {
		text-align: center;

		& div:first-child {
			margin: 10px 0;
		}
	}

}

.title-bar {
	color: #fff;
	background: #006637;
}

.head__btn {
	display: inline-block;
	width: 150px;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #172430;
	border-radius: 4px;
	border: 1px solid #172430;
	transition: 300ms;
	float: left;

	&:hover {
		text-decoration: underline;
		border: 1px solid #006033;
	}
}

.head__menu {
	width: auto;
	height: 80px;
	margin: 0;
	padding: 0;

	@media (min-width: 1380px) {
		float: right;
	}

	@media (max-width: 1024px) {
		height: auto;
	}

	li {
		display: inline-block;
		height: 100%;
		float: left;

		.active {
			font-weight: bold;
			color: #006637;
		}

		@media (max-width: 1024px) {
			height: auto;
		}
	}

	li:last-child {
		position: relative;
		bottom: 5px;
		display: inline;
		height: 50px;
		padding: 5px 0;

		a {
			border: 1px solid #172430
		}

		@media (max-width: 1024px) {
			display: none;
		}

		a {
			position: relative;
			display: inline;
		}
	}

	.active {
		border-bottom: 1px solid #de180c;
	}

	a {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid transparent;

		@media (max-width: 1024px) {
			width: auto;
			height: auto;
		}

		@media (min-width: 1024px) {
			&:hover {
				border-bottom: 1px solid #da1b0d;

					&:after {
						position: absolute;
						left: 35%;
						bottom: -11px;

						display: inline-block;
						content: "";
						width: 19px;
						height: 11px;
						background: url("../img/menu-hover.png") no-repeat;
					}
			}
		}
	}
}

.menu.vertical > li {
	@media(max-width: 600px) {
		width: 100%;
	}
}