.hp {
	h2 {
		font-family: 'Open-sans', sans-serif;
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: normal;
		text-align: center;
		color: #172430;
		background: url("../img/h2-bg.png") 50% 100% no-repeat;
		margin: 55px 0;
		padding-bottom: 15px;
	}

	h2 > span {
		display: inline-block;
		width: 100%;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: lighter;
		color: #61717f;
		text-align: center;
	}

	h3 {
		
	}
}

.hp__slider__banner {
	position: relative;
	width: 100%;
	min-height: 550px;
	background: #006033 url("../user-files/img/hp-slider-banner.jpg") no-repeat;
	background-size: cover;
	margin-top: 120px;

	@media (max-width: 1024px) {
		min-height: 0;
		height: 450px;
		margin-top: 0;
	}

	/*@media (max-width: 800px) {
		display: none;
	}*/

	@media (max-width: 500px) {
		min-height: 700px;
	}
}

.hp__slider__wrapper {
	position: relative;
	width: 100%;
	max-width: 1615px;
	margin: auto;
}

.hp__slider {
	position: relative;

	img {
		float: right;
		width: auto;
		height: 450px;
		margin-right: 50px;
		padding-top: 45px;
		margin-bottom: 100px;

		@media (max-width: 1380px) {
			//display: none;
			width: 50%;
		}

		@media (max-width: 800px) {
			display: none;
		}
	}

	h2 {
		width: 55%;
		font-size: 60px;
		font-size: 3.750rem;
		color: #fff;
		font-weight: lighter;
		text-align: left;
		background: transparent url("../img/hp-slider-title-bg.png") 230px 0 no-repeat;
		margin: 70px 0 0 0;
		padding: 25px 0 0 230px;

		@media (max-width: 1380px) {
			width: 45%;
			font-size: 45px;
			font-size: 2.813rem;
		}

		@media (max-width: 1024px) {
			width: 100%;
			font-size: 30px;
			font-size: 1.875rem;
			text-align: center;
			background: none;
			margin-top: 5px;
			padding: 20px 50px;
		}

		@media (max-width: 800px) {
			width: 100%;
		}
	}

	p {
		width: 50%;
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: lighter;
		color: #fff;
		margin-top: 50px;
		padding: 0 0 0 230px;

		@media (max-width: 1380px) {
			width: 80%;
		}

		@media (max-width: 1024px) {
			width: 100%;
			font-size: 20px;
			font-size: 1.250rem;
			text-align: justify;
			margin-top: 10px;
			padding: 20px 50px;
		}
	}
}

.hp__slider__links {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 30px;

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: inherit;

		span {
			text-decoration: underline;
		}

		&:hover {
			span:after {
				margin-left: 10px;
			}
		}
	}

	.round-img {
		width: 75px;
		height: 75px;
		border-radius: 50px;
		border: 6px solid #1a6e46;
		overflow: hidden;
		vertical-align: middle;
		margin-right: 10px;
		float: left;
	}

	p {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #fff;
		margin: 0;
		padding: 0;
	}

	span {
		display: inline-block;
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #fff;

		&:after {
			position: relative;
			bottom: 2px;
			display: inline-block;
			content: "";
			width: 17px;
			height: 17px;
			background: url("../img/hp-slider-link-after.png") no-repeat;
			vertical-align: middle;
			margin-left: 7px;
			transition: 300ms;
		}
	}
}

.hp__why {
	h3 {
		width: 60%;
		font-family: 'Open-sans', sans-serif;
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bolder;
		color: #172430;
		margin-bottom: 30px;

		@media (max-width: 1024px) {
			width: 100%;
			clear: left;
		}

		@media (max-width: 600px) {
			text-align: center;
		}
	}

	.img-right, .img-left {
		@media (max-width: 1024px) {
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
			float: none;
		}
	}

	.first:before {
		display: inline-block;
		position: relative;
		content: "1.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.second:before {
		display: inline-block;
		position: relative;
		content: "2.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.third:before {
		display: inline-block;
		position: relative;
		content: "3.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.fourth:before {
		display: inline-block;
		position: relative;
		content: "4.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.fifth:before {
		display: inline-block;
		position: relative;
		content: "5.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.sixth:before {
		display: inline-block;
		position: relative;
		content: "6.";
		width: 55px;
		height: 55px;
		font-size: 24px;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-radius: 50px;
		background: #da1b0d;
		vertical-align: middle;
		margin-right: 15px;
		padding: 10px 0 0 5px;
		float: left;
	}

	.first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
		@media (max-width: 600px) {
			display: none;
		}
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #46484a;

		@media (max-width: 600px) {
			text-align: center;
		}
	}

	.row {
		border-bottom: 4px dotted #e3e3e3;
		padding-top: 50px;
		padding-bottom: 50px;
		.columns,.column {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
	/*.row:first-child {
		border-bottom: 4px dotted #e3e3e3;
		padding-bottom: 60px;
	}*/

	.row:last-child {
		//padding-top: 60px;
		border-bottom: none;
	}
}

.hp__numbers {
	background: #f6f7f6;
	margin-top: 90px;
	text-align: center;

	.row {
		div > span {
			display: inline-block;
			//font-size: 72px;
			//font-size: 4.5rem;
			font-size: 60px;
			font-size: 3.600rem;
			font-weight: 800;
			color: #60656a;

			@media (max-width: 1380px) {
				font-size: 40px;
				font-size: 2.5rem;
			}
		}

		p {
			display: inline-block;
			font-size: 20px;
			font-size: 1.250rem;
			font-weight: bold;
			color: #60656a;
			margin: 0;
			padding: 0;
		}

	}
}

.hp__btn-more {
	display: inline-block;
	width: 210px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: left;
	color: #fff;
	border-radius: 4px;
	background: #172430 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
	transition: 300ms;
	margin: 100px 0;
	padding: 20px 0 20px 25px;
	&.btn-no-margin {
		margin:0;
	}
	&:hover {
		color: #fff;
		background: #2e805b url("../img/hp-button-arrow.png") 97% 50% no-repeat;
	}
}

.hp__service__box {
 width: 100%;
 max-width: 1920px;
 margin: auto;
}

.hp__service__box__item {
	position: relative;
	width: 20%;
	max-height: 380px;
	text-align: center;
	overflow: hidden;
	float: left;

	@media (max-width: 1024px) {
		width: 33%;
		height: auto;
	}

	@media (max-width: 641px) {
		width: 50%;
	}

	@media (max-width: 465px) {
		width: 80%;
		margin: 0 10%;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 96, 51, 0.7);
		transition: 300ms;

		&:hover {
			background: rgba(0, 96, 51, 0.4);
			z-index: 2;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		overflow: hidden
	}

	p {
		position: absolute;
		width: 85%;
		/* Stejne zarovnani shora: top: 100px;*/
		top: 100px;
		@media (max-width: 1410px) {
			top: 20%;
		}
		@media (max-width: 1155px) {
			top: 10%;
		}
		@media (max-width: 700px) {
			top: 13%;
		}
		@media (max-width: 640px) {
			top: 20%;
		}
		@media (max-width: 465px) {
			top: 100px;
		}
		/*// Vycentrování
		top: 50%;
  		transform: translateY(-50%);*/
		left: 0;
		right: 0;
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		z-index: 1;
		margin: 0 10%;

		@media (max-width: 1024px) {
			top: 20%;
		}

		img {
			display: block;
			margin: auto;
			height: 83px;
			@media (min-width: 1410px) {
				height: 90px;
			}
			@media (min-width: 1600px) {
				height: 100px;
			}
			padding-bottom: 30px;
		}
	}

	span {
		position: absolute;
		right: 10px;
		bottom: 0px;
		font-size: 72px;
		font-size: 4.5rem;
		transition: 300ms;
		font-weight: lighter;
		color: #fff;
		z-index: 1;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	a {
		&:hover {
			span {
				font-size: 100px;
				font-size: 6.250rem;
			}
		}
	}
}

.hp__journey {
	position: relative;
	width: 100%;
	min-height: 735px;
	background: #192632 url("../img/hp-journey-bg.png") no-repeat;
	background-size: cover;
}

.hp__journey__map {
	width: 60%;
	min-height: 572px;
	background: url("../img/hp-journey-map.png") 50% 50% no-repeat;
	margin-top: 20px;
	float: left;

	@media (max-width: 1024px) {
		display: none;
	}
}

.hp__journey__form {
	width: 40%;
	float: left;

	@media (max-width: 1024px) {
		width: 80%;
		margin: 0 10%;
	}

	@media (max-width: 641px) {
		width: 85%;
		margin: 0;
	}

	form {
		position: relative;
		left: 25px;
		width: 382px;
		border-top: 5px solid #da1b0d;
		background: #fff url("../img/hp-journey-form-bg.png") 100% 100% no-repeat;
		margin-top: 40px;
		padding: 0 25px;

		@media (max-width: 1024px) {
			width: 100%;
		}

		p {
			font-size: 24px;
			font-size: 1.5rem;
			color: #172430;
			margin: 40px 0 0 0;
			padding: 0;
		}

		span {
			display: inline-block;
			font-size: 16px;
			font-size: 1rem;
			color: #172430;
			margin-bottom: 30px;
		}

		input[type="text"], input[type="email"], select {
			width: 100%;
			height: 50px;
			color: #7f7f7f;
			border-radius: 25px;
			border: 1px solid #dcdcdc;
			margin-bottom: 10px;
			padding: 0 20px;
		}

		input[type="text"], input[type="email"], select:placeholder {
			color: #7f7f7f;
		}

		input[type="text"], input[type="email"], select::-webkit-input-placeholder {
			color: #7f7f7f;
		}

		input[type="text"], input[type="email"], select:-ms-input-placeholder {
			color: #7f7f7f;
		}

		option {
			padding: 7px;
		}

		input[type="submit"] {
			width: 100%;
			font-size: 18px;
			font-size: 1.125rem;
			font-weight: bold;
			color: #fff;
			border: none;
			background: #da1b0d;
			margin: 20px 0;
			padding: 15px 0;
		}
	}
}

.hp__journey__text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 106, 59, 0.8);

	@media (max-width: 1024px) {
		position: static;
		margin-top: 50px;
		text-align: center;
	}

	.row {
		p {
			padding: 12px 0;
		}

		strong {
				font-weight: bold;
		}

		span {
			display: inline-block;
			font-size: 16px;
			font-size: 1rem;
			font-weight: lighter;
			color: #fff;
			margin: 0 15px;
		}

		.columns:nth-child(1) {
			p {
				font-size: 24px;
				font-size: 1.5rem;
				font-weight: lighter;
				color: #fff;
			}
		}
		.columns:nth-child(2) {
			a:first-child {
				display: inline-block;
				font-size: 24px;
				font-size: 1.5rem;
				font-weight: lighter;
				color: #fff;
				margin-top: 25px;

				&:before {
					display: inline-block;
					content: "";
					width: 31px;
					height: 31px;
					background: url("../img/icn-phone-journey.png") no-repeat;
					vertical-align: middle;
					margin-right: 7px;
				}
			}

			a:last-child {
				display: inline-block;
				font-size: 18px;
				font-size: 1.125rem;
				font-weight: bold;
				color: #fff;
				border-radius: 4px;
				background: rgba(0, 71, 39, 0.8);
				transition: 300ms;
				padding: 15px 40px;

				&:hover {
					color: #004626;
					background: #fff;
				}
			}
		}
	}
}

.hp__cars__item {
	position: relative;
	width: 24.2%;
	max-height: 220px;
	overflow: hidden;
	margin: 0 0.4%;
	padding: 0;

	@media (max-width: 1024px) {
		width: 40%;
		margin: 5px 5%;
	}

	@media (max-width: 641px) {
		width: 80%;
		margin: 5px 10%;
	}

	a {
		&:hover {
			span {
				font-size: 45px;
				font-size: 2.813rem;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.overlay {
		position: absolute;
		bottom: 5%;
		z-index: 2;
	}

	.gradient {
		position: absolute;
		height: 35%;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(transparent, #000000 90%);
	}

	h3 {
		font-size: 22px;
		font-size: 1.375rem;
		font-weight: bold;
		color: #fff;
		margin: 0;
		padding: 0 30px 0 10px;
	}

	p {
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: lighter;
		color: #fff;
		margin: 0;
		padding: 0 30px 0 10px;
	}

	span {
		position: absolute;
		right: 10px;
		bottom: 2px;
		font-size: 35px;
		font-size: 2.188rem;
		transition: 300ms;
		font-weight: lighter;
		color: #fff;
		z-index: 2;
	}
}

.hp__banners {
	width: 100%;
	max-width: 1280px;
	margin: auto;

	@media (max-width: 1024px) {
		display: none;
	}
}

.banners-wrapper {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

.banners-slider {
	position: relative;	
}