.content.services {
	padding-bottom: 0;
}

.services {
	h2 {
		font-size: 30px;
		font-size: 1.875rem;
		color: #006637;
		margin-bottom: 40px;
	}
}

.services__item {
	position: relative;
	min-height: 550px;

	@media (max-width: 641px) {
		border-bottom: 2px solid #dcdcdc;
	} 

	.row {
		padding: 100px 0 0 0;

		@media (max-width: 1290px) {
			border-radius: 10px;
			background: rgba(252, 252, 252, 0.8);
			padding: 20px 0;
		}
	}
}

.service__icon {
	position: absolute;

	img:first-child {
		@media (max-width: 1100px) {
			display: none;
		}
	}
}

.service__icon:nth-child(even) {
	top: 50%;
	transform: translateY(-50%);
	right: 15%;
	text-align: right;
	z-index: 5;
}

.service__icon:nth-child(odd) {
	top: 50%;
	transform: translateY(-50%);
	left: 15%;
	text-align: left;
	z-index: 5;
}

.services__item:nth-child(1) {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item:nth-child(2) {
	background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item:nth-child(3) {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item:nth-child(4) {
	background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item:nth-child(5) {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item:nth-child(6) {
	background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
	.service__img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	@media (max-width: 800px) {
		.service__img {
			display: none;
		}
	}
}

.services__item--car:nth-child(1) {
	background: url("../user-files/img/services-car1.jpg") 100% 100% no-repeat;

	@media (max-width: 800px) {
		background: none;
	}
}

.services__item--car:nth-child(2) {
	background: url("../user-files/img/services-car2.jpg") 0% 100% no-repeat;

	@media (max-width: 800px) {
		background: none;
	}
}

.services__item--car:nth-child(3) {
	background: url("../user-files/img/services-car3.jpg") 100% 100% no-repeat;

	@media (max-width: 800px) {
		background: none;
	}
}

.services__item--car:nth-child(4) {
	background: url("../user-files/img/services-car4.jpg") 0% 100% no-repeat;

	@media (max-width: 800px) {
		background: none;
	}
}

.services__btn {
	display: inline-block;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	color: #525659;
	border-bottom: 2px solid transparent;
	transition: 300ms;
	transition-timing-function: ease-in-out;
	margin-left: 20px;

	&:hover {
		border-bottom: 2px solid #525659;
	}
}