* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.img-left {
	margin-right: 10px;
	float: left;
}

.img-right {
	margin-left: 10px;
	float: right;
}

.img-full {
	width: 100%;
	height: auto;
	margin: 15px 0;
}

//Basic color

$primary-color: #006637;


