.content {
	padding-bottom: 20px;

	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #006637;
		margin: 20px 0;
	}

	h3 {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #464a4d;
	}

	p, ul {
		font-size: 16px;
		font-size: 1rem;
		//font-weight: lighter;
		color: #464a4d;
	}

	ul {
		margin-left: 50px;

		li {
			padding: 7px 0;
		}
	}

	.side-menu {
	width: 100%;
	list-style-type: none;
	margin: 20px 0 20px 0;
	padding: 0;

		li {
			width: 100%;
			display: inline-block;
			font-weight: normal;
			border-bottom: 1px solid #c7ccd6;
			background: #e8e9eb;
			transition: 300ms;
			margin: 0;

			&:hover {
				//background: #006637;
			}

			&:first-child {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}

			&:last-child {
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				border-bottom: none;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 10px 20px;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.active {
			font-weight: bold;
			color: #fff;
			background: #006637;
		}
	}

	.sp__side-services {
		position: relative;
		max-width: 300px;
		text-align: center;
		overflow: hidden;
		margin: auto;

		@media (max-width: 641px) {
			background: #da1b0d;
		}

		a {
			&:hover {
				span {
					font-size: 70px;
					font-size: 4.375rem;
				}
			}
		}

		img {
			max-width: 100%;
			height: auto;
			overflow: hidden;

			@media (max-width: 641px) {
				display: none;
			}
		}

		h3 {
			position: absolute;
			top: 15%;
			font-size: 24px;
			font-size: 1.5rem;
			font-weight: bold;
			color: #fff;
			z-index: 1;
		}

		p {
			position: absolute;
			top: 45%;
			font-size: 16px;
			font-size: 1rem;
			font-weight: lighter;
			color: #fff;
			z-index: 1;
		}

		span {
			position: absolute;
			right: 5%;
			bottom: 0;
			font-size: 48px;
			font-size: 3rem;
			transition: 300ms;
			font-weight: lighter;
			color: #fff;
			z-index: 1;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(218, 27, 13, 0.7);
		}
	}
}

.side {
	p {
		font-weight: normal;
	}

	form {
		width: 100%;

		div {
			display: inline-block;
			position: relative;
			cursor: pointer;
			background: url("../img/form-file-bg.png") 100% 50% no-repeat;
			margin: 0 0 15px 0;
			padding: 0 0 0 7px;

			p {
				display: inline-block;
				font-size: 16px;
				font-size: 1rem;
				color: #46484a;
				margin-top: 12px;
			}
		}

		input[type="text"], div {
			width: 100%;
			height: 55px;
			font-weight: lighter;
			color: #46484a;
			border-radius: 4px;
			border: 2px solid #d7d7d7;
		}

		input[type="file"] {
			position: absolute;
			top: 0;
			left: 0;
		    right: 0;
		    bottom: 0;
		    margin: 0;
		    padding: 0;
		    font-size: 20px;
		    cursor: pointer;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    z-index: 2;

		    &:after {
		    	display: inline-block;
		    	content: "Procházet";
		    	}
			}

		input[type="submit"] {
			font-weight: bold;
			color: #fff;
			border: none;
			background: #006637 url("../img/hp-button-arrow.png") 94% 50% no-repeat;
			padding: 15px 65px 15px 25px;
			float: right;
		}

		textarea {
			width: 100%;
			height: 150px;
			font-weight: lighter;
			border-radius: 4px;
			border: 2px solid #d7d7d7;
		}
	}
}

.sp__banner {
	width: 100%;
	min-height: 200px;
	background: #006033 url("../img/sp-banner-bg.png") no-repeat;
	background-size: cover;
	margin-top: 120px;

	h1 {
		font-size: 60px;
		font-size: 3.750rem;
		font-weight: lighter;
		text-align: center;
		color: #fff;
		padding-top: 50px;

		strong {
			font-weight: bold;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
		}
	}

	@media (max-width: 1024px) {
		margin-top: 0;
	}

	@media (max-width: 800px) {
		display: none;
	}
}

.sp__contact  {
	background: rgba(0, 106, 59, 0.8);

	@media (max-width: 1024px) {
		position: static;
		margin-top: 50px;
		text-align: center;
	}

	.row {
		p {
			padding: 12px 0;
		}

		strong {
				font-weight: bold;
		}

		span {
			display: inline-block;
			font-size: 16px;
			font-size: 1rem;
			font-weight: lighter;
			color: #fff;
			margin: 0 15px;
		}

		.columns:nth-child(1) {
			p {
				font-size: 24px;
				font-size: 1.5rem;
				font-weight: lighter;
				color: #fff;
			}
		}
		.columns:nth-child(2) {
			a:first-child {
				display: inline-block;
				font-size: 24px;
				font-size: 1.5rem;
				font-weight: lighter;
				color: #fff;
				margin-top: 25px;

				&:before {
					display: inline-block;
					content: "";
					width: 31px;
					height: 31px;
					background: url("../img/icn-phone-journey.png") no-repeat;
					vertical-align: middle;
					margin-right: 7px;
				}
			}

			a:last-child {
				display: inline-block;
				font-size: 18px;
				font-size: 1.125rem;
				font-weight: bold;
				color: #fff;
				border-radius: 4px;
				background: rgba(0, 71, 39, 0.8);
				transition: 300ms;
				padding: 15px 40px;

				&:hover {
					color: #004626;
					background: #fff;
				}
			}
		}
	}
}

.sp__btn-more {
	display: inline-block;
	width: 210px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: left;
	color: #fff;
	border-radius: 4px;
	background: #2e805b url("../img/hp-button-arrow.png") 94% 50% no-repeat;
	transition: 300ms;
	margin: 80px 0;
	padding: 15px 0 15px 25px;

	&:hover {
		color: #fff;
		background: #172430 url("../img/hp-button-arrow.png") 97% 50% no-repeat;
	}
}

.sp__btn-back {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	text-align: right;
	color: #fff;
	border-radius: 4px;
	background: #2e805b url("../img/hp-button-back.png") 2% 50% no-repeat;
	transition: 300ms;
	margin: 15px 0;
	padding: 15px 15px 15px 50px;

	&:hover {
		color: #fff;
		background: #172430 url("../img/hp-button-back.png") 5% 50% no-repeat;
	}

}

.sp__career-btn {
	text-align: center;
	border-bottom: 3px dotted #DADBDB;
	margin-bottom: 30px;
	padding-bottom: 30px;

	&:last-child {
		border: none;
	}

	.sp__btn-more {
		margin: 40px 0 25px 0;
	}
}